body{

    text-align: center; margin-top: 100px;
    background-color: white; height: 2px;
    }
    
    h1{
    
    color: rgb(191, 17, 17); margin-bottom: 60px;
     
    }
    
    #logo{
    
    padding: 30px;
    
    }
    
    #sutiuos{
    text-align: center;
    padding-top: 20px;
    
}